layout virtualenvwrapper Leadger_Flear_Venv3.13
export NODE_ENV=development
export XUSER=ibrahim-pc
export XHOME=/home/${XUSER}
export DJANGO_SUPERUSER_PASSWORD=test123456
export DJANGO_SUPERUSER_EMAIL=admin@admin.com
export DJANGO_SUPERUSER_USER_TYPE=manager
export DJANGO_SUPERUSER_USER_GENRE=developer
export PYTHONDONTWRITEBYTECODE=1
export UV_LINK_MODE=symlink
alias rm_node_modules='rm -rfv node_modules/.cache; rm -rfv node_modules; rm -rfv build; rm -v package-lock.json; rm -v pnpm-lock.yaml'