<li class="inline-flex items-center gap-x-2.5 py-3 px-4 text-sm font-medium bg-white border border-gray-200 text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg sm:-ms-px sm:mt-0 sm:first:rounded-se-none sm:first:rounded-es-lg sm:last:rounded-es-none sm:last:rounded-se-lg dark:bg-neutral-800 dark:border-neutral-700 dark:text-white">
    <div class="relative flex items-start w-full">
        <div class="flex items-center h-5">
            <input name="{{ widget.name }}" type="{{ widget.type }}" {% if widget.value != None %}value="{{ widget.value|stringformat:'s' }}"{% endif %} class="border-gray-200 rounded-full disabled:opacity-50 dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800" 
                {% include "django/forms/widgets/attrs.html" %}
                 />
            </div>
            {% if widget.wrap_label %}
                <label {% if widget.attrs.id %}for="{{ widget.attrs.id }}"{% endif %}
                       class="ms-3 block w-full text-sm text-gray-600 dark:text-neutral-500">
                    {% if widget.label == "Cfo" %}
                        {{ widget.label|upper }}
                    {% else %}
                        {{ widget.label }}
                    {% endif %}
                </label>
            {% endif %}
        </div>
    </li>
